@{
    ViewData["Title"] = "About";
}
<h1>About</h1>

<div class="about-content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum, sem sed euismod molestie, nulla elit rutrum turpis, eu tempus nunc eros sit amet turpis. 
        Vestibulum consectetur feugiat suscipit. Proin est metus, dictum ullamcorper mollis quis, tincidunt vitae turpis. Quisque mi justo, aliquet in tempor ac, tincidunt et mi. 
        Quisque massa felis, rhoncus a odio quis, ornare porttitor est. Duis et varius risus. Nam rhoncus, dolor vel tempus iaculis, sapien velit rutrum magna, et faucibus enim nunc id erat.
    </p>
    <br/>
    <p>
        Donec in diam ut augue lacinia blandit. Nullam iaculis lectus arcu, sit amet tempus arcu vehicula sit amet. In id ipsum porta, sodales est non, vestibulum orci. 
        Suspendisse mattis orci quis velit sollicitudin scelerisque. Nam non placerat massa, bibendum condimentum tellus. Praesent elementum imperdiet interdum. In vestibulum rhoncus bibendum. 
        Nunc rhoncus vehicula leo in mattis. Nunc congue finibus condimentum. Morbi euismod vehicula leo id pretium. Curabitur venenatis mi et metus tristique pulvinar. 
        Duis ultrices dui eget mi tristique, et auctor ipsum mattis. Ut congue at lorem a cursus.
    </p>
    <br/>
    <p>
        Nunc at ultricies velit, eget rhoncus odio. Nulla luctus, ligula vitae fermentum egestas, libero libero placerat felis, id gravida lectus urna vitae elit. 
        Sed sit amet metus sed turpis efficitur rutrum. Vivamus iaculis fringilla viverra. Suspendisse nunc ligula, faucibus ac augue vel, ultricies imperdiet ligula. 
        Donec congue mauris at elit tristique, et bibendum diam tempor. Pellentesque sollicitudin malesuada neque eget gravida. Aliquam id nisi eu lectus sagittis malesuada id ut elit. 
        Donec pretium vitae lectus finibus sollicitudin. Vivamus vel felis augue. Nullam feugiat ultricies gravida. In sodales nec tellus ut rutrum.
    </p>
</div>

 @section Footer {
    <span>About</span>
}