@{
    ViewData["Title"] = "Contacts";
}
<h1>Contacts</h1>
<div class="contacts-content">
    <div class="phone">Телефон: <a href="tel:+375293776020">+375 (29) 377-60-20</a></div>
    <div class="mail">Почта: <a href="mailto: a.vysotski.vironit@vironit.ru">a.vysotski.vironit@vironit.ru</a></div>
    <div class="skype">Скайп: <a href="skype:live:.cid.3434f2448c2efac0">Aleksandr Vysotski</a></div>
</div>
@section Footer {
    <span>Contacts</span>
}