@{
    ViewData["Title"] = "Main";
}
<h1>Main</h1>
<div class="main-content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum, sem sed euismod molestie, nulla elit rutrum turpis, eu tempus nunc eros sit amet turpis. 
        Vestibulum consectetur feugiat suscipit. Proin est metus, dictum ullamcorper mollis quis, tincidunt vitae turpis. Quisque mi justo, aliquet in tempor ac, tincidunt et mi. 
        Quisque massa felis, rhoncus a odio quis, ornare porttitor est. Duis et varius risus. Nam rhoncus, dolor vel tempus iaculis, sapien velit rutrum magna, et faucibus enim nunc id erat.
    </p>
    <br/>
    <p>
        Donec in diam ut augue lacinia blandit. Nullam iaculis lectus arcu, sit amet tempus arcu vehicula sit amet. In id ipsum porta, sodales est non, vestibulum orci. 
        Suspendisse mattis orci quis velit sollicitudin scelerisque. Nam non placerat massa, bibendum condimentum tellus. Praesent elementum imperdiet interdum. In vestibulum rhoncus bibendum. 
        Nunc rhoncus vehicula leo in mattis. Nunc congue finibus condimentum. Morbi euismod vehicula leo id pretium. Curabitur venenatis mi et metus tristique pulvinar. 
        Duis ultrices dui eget mi tristique, et auctor ipsum mattis. Ut congue at lorem a cursus.
    </p>
</div>
@section Footer {
    <span>Main</span>
}